/* .list {
  text-align: left;
  max-width: 750px;
  margin: auto;
} */

.checkbox-container{
  display:flex;
  align-items: center;
}
.linha-pos-titulo{
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.guideline-div{
  display: inline
}

.guideline-add-div{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  margin-top: 25px;
  margin-left: -15px;
}
/* .submit-form {
  max-width: 450px;
  margin: auto;
}
.edit-form {
  max-width: 450px;
  margin: auto;
} */